
.sidedrawer-header-custom-image {
  background-color: white;
  height: 74;
  width:74;
  border-radius:37;
  horizontal-align: left;
  margin-bottom: 5;
}

.sidedrawer-header-custom {
  height:120;
  width:100%;
  padding: 10 10 0 10;
}

.text-fontbold {
  font: bold;

}

/*
padding: 15 15 0 0;
*/