/* Hide a bunch of things to setup the initial animations */
.form-controls {
  color: black;
  animation-name: showGridLayout;
  animation-duration: 1;
  animation-delay: 1;
  animation-fill-mode: forwards;
}

@keyframes showGridLayout{
  from { opacity: 0; }
  to { opacity: 1; transform: translate(0, 0); }
}


.main-container {
  
  margin-left: 30;
  margin-right: 30;
  background-color: white;

  animation-name: showScrollView;
  animation-duration: 1;
  animation-delay: 0.5;
  animation-fill-mode: forwards;
}

@keyframes showScrollView {
  from { opacity: 0; }
  to { opacity: 1; }
}

Image {
  margin-top: 5;
  margin-bottom: 10;
}
Button {
  margin-left: 16;
  margin-right: 16;
  margin-bottom: 20;
  margin-top: 20;
}

TextField {
  margin-left: 16;
  margin-right: 16;
  margin-bottom: 15;
  height: 50;
  padding-left: 10;
  border-width: 2;
  border-color: black;
}

.black-text {
  margin-left: 10;
  margin-right: 10;
  color: black;
}

.light-grey{
  background-color: #cecece;
}